openapi: 3.0.3
info:
  version: "1.0.0"
  title: Testinstance for IGC flight tracks
  description: This service is only for testing! It offers flight tracks (lists of GNSS coordinates incl. height and timestamp with some general Metadata concerning registration number, glider type etc.) as OGC API Features.
  contact:
    name: Jan
    email: postfach-development@yahoo.de
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  

servers:
  - url: https://mtlom-hiaaa-aaaah-abtkq-cai.raw.ic0.app/

tags: []
paths:
  /:

    get:
      tags: 
        - Landing Page
      summary: landing page
      description: The landing page describes the service at all and links to relevant paths.
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Landing page responded
          content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/LandingPage'
              text/html:
                schema:
                  $ref: '#/components/schemas/htmlSchema'
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '500':
          description: Server Error

  /collections:
    get:
      tags: 
        - List Collections
      summary: collections
      description: List all available FeatureCollections - here all flights as PointCollections and one overview Collection 
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Collection List
          content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/Collections'
              text/html:
                schema:
                  $ref: '#/components/schemas/htmlSchema'
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '500':
          description: Server Error
  /collections/FC:
    get:
      tags: 
        - Collection Description
      summary: collectionSummary 
      description: A FeatureCollection (Geometry LineString) containing all flights 
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Collection List
          content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/Collection'
              text/html:
                schema:
                  $ref: '#/components/schemas/htmlSchema'
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '500':
          description: Server Error
  /collections/FC/items:
    get:
      tags: 
        - Collection Items
      summary: items of summaryCollection
      description: The FeatureCollection containing all Flights as GeoJSON Feature Collection 
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Collection List
          content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/CollectionFCItems'
              text/html:
                schema:
                  $ref: '#/components/schemas/htmlSchema'
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '500':
          description: Server Error
  /collections/FC/items/{featureId}:
    get:
      tags:
      - Single Item Access
      summary: Retrieve one feature (one flight track) from the flights collection by its Id
      parameters:
      - $ref: '#/components/parameters/featureId'
      - $ref: '#/components/parameters/format'
      responses:
        "200":
          description: The operation was executed successfully.
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/CollectionFCItem'
            text/html:
              schema:
                $ref: '#/components/schemas/htmlSchema'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "406":
          description: Not Acceptable
        "500":
          description: Server Error

  /collections/{CollectionId}:
    get:
      tags: 
        - Collection Description
      summary: individual point collection
      description: A FeatureCollection (Geometry Point) with all GNSS measures of a track
      parameters:
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/collectionId'
      responses:
        '200':
          description: individual Collection
          content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/Collection'
              text/html:
                schema:
                  $ref: '#/components/schemas/htmlSchema'
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '500':
          description: Server Error
  /collections/{CollectionId}/items:
    get:
      tags: 
        - Collection Items
      summary: items of a flight collection
      description: The FeatureCollection containing all GNSS Trackpoints as a GeoJSON FeatureCollection
      parameters:
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/collectionId'
      responses:
        '200':
          description: Collection List
          content:
              application/json:
                schema: 
                  $ref: '#/components/schemas/CollectionFlightItems'
              text/html:
                schema:
                  $ref: '#/components/schemas/htmlSchema'
        '400':
          description: Bad Request
        '405':
          description: Method Not Allowed
        '406':
          description: Not Acceptable
        '500':
          description: Server Error

  /collections/{CollectionId}/items/{featureId}:
    get:
      tags:
      - Single Item Access
      summary: Retrieve one feature (one GNNS Point with height and timestamp) from the flight collection by its Id
      parameters:
      - $ref: '#/components/parameters/collectionId'
      - $ref: '#/components/parameters/featureId'
      - $ref: '#/components/parameters/format'
      responses:
        "200":
          description: The operation was executed successfully.
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/CollectionFlightItem'
            text/html:
              schema:
                $ref: '#/components/schemas/htmlSchema'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "405":
          description: Method Not Allowed
        "406":
          description: Not Acceptable
        "500":
          description: Server Error
components:
  parameters: 
    format:
      name: f
      in: query
      description: Select the output format of the response. If no value is provided, the standard HTTP rules apply, i.e., the accept header will be used to determine the format.
      required: false
      schema:
        type: string
        enum:
          - json
          - html
    featureId:
      name: featureId
      description: the featureId in the collection
      in: path
      required: true
      schema: 
        type: string  
    collectionId:
      name: collectionId
      description: the Id of the collection
      in: path
      required: true
      schema: 
        type: string    
    offsetFeatures:
      name: offset
      in: query
      description: The optional offset parameter identifies the index of the first
        feature in the response in the overall result set.
      required: false
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
        format: int32
        default: 0
  schemas:
    htmlSchema:
      type: string
      example: <html>...</html>
    LandingPage:
      type: object
      properties: 
        title:
          type: string
        description:
          type: string
        links:
          type: array
          items:
            required:
              - href
            type: object
            properties:
              href:
                type: string
                format: uri-reference
              rel:
                type: string
              type:
                type: string
              title:
                type: string

    Collections:
      type: object
      properties:
        links:
          type: array
          items:
            required:
            - href
            type: object
            properties:
              href:
                type: string
                format: uri-reference
              rel:
                type: string
              type:
                type: string
              title:
                type: string
        collections:
          type: array
          items:
            required:
            - id
            type: object
            properties:
              title:
                type: string
              description:
                type: string
              id:
                type: string
              keywords:
                type: array
                items: 
                  type: string
              isDataset:
                type: boolean
              type:
                type: string
              extent:
                type: object
                properties: 
                  spatial:
                    type: object
                    properties:
                      bbox:
                        type: array
                        items:
                          type: number
                  temporal:
                    type: object
                    properties:
                      interval:
                        type: array
                        items:
                          type: string
              links:
                type: array
                items:
                  required:
                  - href
                  type: object
                  properties:
                    href:
                      type: string
                      format: uri-reference
                    rel:
                      type: string
                    type:
                      type: string
                    title:
                      type: string
    Collection:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        id:
          type: string
        keywords:
          type: array
          items: 
            type: string
        isDataset:
          type: boolean
        type:
          type: string
        extent:
          type: object
          properties: 
            spatial:
              type: object
              properties:
                bbox:
                  type: array
                  items:
                    type: number
            temporal:
              type: object
              properties:
                interval:
                  type: array
                  items:
                    type: string
        links:
          type: array
          items:
            required:
            - href
            type: object
            properties:
              href:
                type: string
                format: uri-reference
              rel:
                type: string
              type:
                type: string
              title:
                type: string
    CollectionFCItems:
      type: object
      properties:
        type:
          type: string
        features:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              properties:
                type: object
                properties:
                  FRFWFIRMWAREVERSION:
                    type: string
                  FDTMGPSDATUM:
                    type: string
                  FGPSRECEIVER:
                    type: string
                  FCCLCOMPETITIONCLASS:
                    type: string
                  FGTYGLIDERTYPE:
                    type: string
                  FPLTPILOTINCHARGE:
                    type: string
                  FFTYFRTYPE:
                    type: string
                  FDTEDATE:
                    type: string
                  FRHWHARDWAREVERSION:
                    type: string
                  FPRSPRESSALTSENSOR:
                    type: string
                  UnitId:
                    type: string
                  FCIDCOMPETITIONID:
                    type: string
                  FGIDGLIDERID:
                    type: string
              geometry:
                type: object
                properties:
                  type:
                    type: string
                  coordinates:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
    CollectionFCItem:
      type: object
      properties:
        type:
          type: string
        properties:
          type: object
          properties:
            FRFWFIRMWAREVERSION:
              type: string
            FDTMGPSDATUM:
              type: string
            FGPSRECEIVER:
              type: string
            FCCLCOMPETITIONCLASS:
              type: string
            FGTYGLIDERTYPE:
              type: string
            FPLTPILOTINCHARGE:
              type: string
            FFTYFRTYPE:
              type: string
            FDTEDATE:
              type: string
            FRHWHARDWAREVERSION:
              type: string
            FPRSPRESSALTSENSOR:
              type: string
            UnitId:
              type: string
            FCIDCOMPETITIONID:
              type: string
            FGIDGLIDERID:
              type: string
        geometry:
          type: object
          properties:
            type:
              type: string
            coordinates:
              type: array
              items:
                type: array
                items:
                  type: number
    CollectionFlightItem:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type:
              type: string
            coordinates:
              type: array
              items:
                type: number
        properties:
          type: object
          properties:
            timestamp:
              type: number
            gpsheight:
              type: number
    CollectionFlightItems:
      type: object
      properties:
        type:
          type: string
        features:
          type: array
          items:
            $ref: '#/components/schemas/CollectionFlightItem'